@model IEnumerable<Category>
@{ Layout = "_Layout"; ViewBag.Title = "All Categories";}


<h2>All Categories</h2>
<a asp-action="Add" class="btn btn-sm btn-primary">Add Category</a>
<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                
                <td>
                    <a style="display: inline-block;" class="btn btn-primary" asp-action="Update" asp-route-id="@category.Id">[Edit]</a>
                    <form style="display: inline-block;" id="categoryDeleteForm-@category.Id" asp-action="Delete" method="post">
                        <input type="hidden" value="@category.Id" name="id" />
                        <a href="javascript:confirmDelete(@category.Id);" class="btn btn-danger">[Delete]</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function confirmDelete(id) {
        let c = confirm('Are you sure?');
        if (c) {
            document.getElementById("categoryDeleteForm-" + id).submit();
        }
    }
</script>